.img-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: content-box;
  border: 0 solid;
  border-bottom-width: 16px;
  border-image: linear-gradient(to bottom, #260B3C, #ffffff);
  border-image-slice: 18;
  max-height: 11.5%;
  figure
  {
    padding: 0;
    margin: .6% 0;
    img
    {
      display: block;
      max-height: 100%;
    }
    max-height: 11.5%;
  }
  figure:first-child
  {
    padding-left: 4%;
  }
}

h1
{
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
  text-align: center;
  //margin-left: 40%;
  font-size: 2.2em;
  margin-top: 2%;
}

::ng-deep.mat-form-field-underline
{
  /*change color of underline*/
  background-color: #0062ad !important;
}

::ng-deep.mat-form-field-ripple
{
  /*change color of underline when focused*/
  background-color: #0062ad !important;;
}

.ng-tns-c70-0 .ng-star-inserted {
  color: #2c2c2c !important;
  font-size: 1.2em;
  margin-left: 2%;
  padding-bottom: 2%;
}

.ng-tns-c70-3 .ng-star-inserted {
  color: #2c2c2c !important;
  font-size: 1.2em;
  margin-left: 2%;
  padding-bottom: 2%;
}

form
{
  .form-group
  {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-left: 38%;
    #j_username
    {
      font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
      max-width: 24%;
    }
    .hint-accordion
    {
      border: hidden;
      width: 100%;
      .hint-title
      {
        margin-top: 0;
        font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
        color: #0062ad;
        font-size: 1em;
      }
    }
    #j_password
    {
      font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
      margin-top: 10%;
      max-width: 24%;
    }
  }
  .submit-button
  {
    text-align: center;
    border-radius: 0;
    background-color: #255ea7;
    color: white;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    letter-spacing: 0.1em;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
  }

  .error-msg
  {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
    color: #E54D42;
    font-size: 1em;
  }

}
.help-title
{
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 2%;
}

.help
{
  background-color: #b2b2b21a;
  padding: 20px;
  p
  {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica Neue", sans-serif;
  }
}

.help-title-block{
  display: flex;
  justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
