<div class="header img-container">
  <figure>
    <img src="../../assets/img/logo_assurance_maladie.png" alt="logo ameli" />
  </figure>
  <figure>
    <img src="../../assets/img/logo_france_connect.png" alt="logo france connect" />
  </figure>
</div>

<div class="body-container">

  <h1>Je me connecte avec mon compte ameli</h1>

  <form [formGroup]="authenticationForm" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group">
      <mat-form-field appearance="legacy" color="primary">
        <mat-label>Mon numéro de sécurité sociale</mat-label>
        <mat-icon matPrefix svgIcon="login"></mat-icon>
        <input
          matInput
          #j_username
          type="number"
          maxlength="13"
          minlength="13"
          formControlName="j_username"
          [errorStateMatcher]="matcher">

      </mat-form-field>
      <div class="error-msg" *ngIf="authenticationForm.get('j_username')!.hasError('required') && authenticationForm.get('j_username')!.dirty">
        <mat-icon svgIcon="warning"></mat-icon>
        Votre numéro de Sécurité sociale ne peut pas être inférieur à 13 chiffres.
      </div>

      <div class="hint-accordion">
        <mat-accordion>
          <mat-expansion-panel hideToggle class="mat-elevation-z0" #mep="matExpansionPanel">
            <mat-expansion-panel-header>
              <mat-panel-title class="hint-title">
                Où trouver  mon numéro de sécurité sociale ?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="help">
              <div class="help-title-block">
                <p class="help-title">Aide pour le numéro de sécurité sociale</p>
                <button (click)="mep.expanded = !mep.expanded">
                  <mat-icon svgIcon="close"></mat-icon>
                </button>
              </div>
              <p>Saisissez votre numéro de sécurité sociale à 13 chiffres.</p>
              <p>Attention, si vous êtes ayant droit, saisissez le numéro de sécurité
                sociale de la personne à laquelle vous êtes rattaché.</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <mat-form-field appearance="legacy" color="primary">
        <mat-label>Mon code confidentiel</mat-label>
        <mat-icon matPrefix svgIcon="password"></mat-icon>
        <input
          matInput
          #j_password
          [type]="hide ? 'password' : 'number'"
          maxlength="8"
          minlength="8"
          formControlName="j_password"
          [errorStateMatcher]="matcher"
          autocomplete="new-password">
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon
            matSuffix
            class="material-icons-outlined"
            color="#525252">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="error-msg" *ngIf="authenticationForm.get('j_password')!.hasError('required')  && authenticationForm.get('j_username')!.dirty">
      Code confidentiel <strong>requis</strong> !
      </div>


      <button
        mat-flat-button
        type="submit"
        class="submit-button"
        [disabled]="!authenticationForm.valid">
        ME CONNECTER
      </button>
    </div>

  </form>

</div>
