{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>
    {% block title %}
        france connect
    {% endblock %}
  </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    {% block heading %}
      <h1>Angular, Django Rest Framework, and JWT demo</h1>
    {% endblock %}

    {% block content %}{% endblock %}
  </div>
</body>

</html>