<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des utilisateurs</title>
</head>
<body>

{% for user in users %}
    <p>{{ user.username }}: {{ user.password }}</p>

{% endfor %}

</body>
</html>